@model Workcraft.ViewModels.TaskManagementViewModel
@{
    Layout = "_AdminLayout";
}

<h2>Create New Task</h2>
<div asp-validation-summary="All" class="text-danger mb-3"></div>
<form asp-action="CreateTask" asp-controller="Admin" method="post">
    @Html.AntiForgeryToken()

        <label>Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>

        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>

        <label>Due Date</label>
        <input asp-for="DueDate" type="date" class="form-control" />
        <span asp-validation-for="DueDate" class="text-danger"></span>

        <label>Assign To</label>
        <select asp-for="AssignedToId"
                asp-items="Model.Employees"
                class="form-control">
            <option value="">-- Select Employee --</option>
        </select>
        <span asp-validation-for="AssignedToId" class="text-danger"></span>

    <br />
    <button type="submit" class="btn btn-primary">
        Create Task
    </button>
</form>

<br />

<h2>Tasks Management</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Employee</th>
            <th>Status</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>@task.Title</td>
                <td>@task.AssignedTo?.FullName</td>
                <td>
                    @if (task.Status == Workcraft.Models.Enums.WorkTaskStatus.Pending)
                    {
                        <span class="badge bg-warning text-dark">Pending</span>
                    }
                    else if (task.Status == Workcraft.Models.Enums.WorkTaskStatus.InProgress)
                    {
                        <span class="badge bg-primary">Accepted</span>
                    }
                    else if (task.Status == Workcraft.Models.Enums.WorkTaskStatus.Completed)
                    {
                        <span class="badge bg-success">Completed</span>
                    }
                    else if (task.Status == Workcraft.Models.Enums.WorkTaskStatus.Rejected)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                </td>
                <td>@task.DueDate?.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>